.video {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 540px;
  margin: 0;
  padding: 0;
}

.video__iframes {
  display: flex;
  justify-content: space-between;
  min-width: 1050px;
  margin-top: 50px;
}