.khan {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

.khan__container {
  width: 80%;
  margin-top: 105px;
}

.khan__author {
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  margin: 0;
}

.khan__title {
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  margin: 0;
}

.khan__quote {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  width: 790px;
  margin-top: 50px;
  margin-bottom: 36px;
}

.khan__quote-author {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.khan__quote-author-subline {
  line-height: 1.15;
  font-size: 24px;
  font-weight: normal;
  margin-top: 10px;
  margin-bottom: 68px;
}

.khan__book-container {
  display: flex;
  margin: 0;
  padding: 0;
}

.khan__book-pic {
  width: 620px;
  height: 608px;
  object-fit: cover;
  object-position: top;
  margin-right: 48px;
}

.khan__buy-link {
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;
  cursor: pointer;
  transition: 0.5s;
}

.khan__buy-link:hover {
  opacity: .7;
}