.feynman {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
  min-height: 890px;
}

.feynman__title {
  margin-top: 100px;
  margin-bottom: 70px;
  width: 648px;
  font-size: 120px;
  line-height: 115px;
  text-align: center;
  z-index: 2;
}

.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  margin: 0;
  z-index: 2;
}

.feynman__image {
  position: absolute;
  width: 867px;
  height: 637px;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.feynman__link {
  position: absolute;
  right: 48px;
  top: 50%;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;
  cursor: pointer;
  transition: 0.5s;
}

.feynman__link:hover {
  opacity: .7;
}